@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    margin: 1.5rem 2rem 0 2rem;
    color: rgb(255, 255, 255);
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #6bb4e7;
    border-radius: 8px;
}

h1 {
    font-family: 'Merienda', cursive;
    margin-bottom: 2rem;
    padding: 1.2rem;
    background-color: #41729F;
    border-radius: 8px 8px 0 0;
}

p {
    margin-right: 2.2rem;
    padding-bottom: 0;
    text-align: right;
    color: black;
}

form {
    margin: 1rem 2rem 2rem 2rem;
}

input[type=text],
select {
    background-color: rgb(243, 243, 243);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid rgb(105, 105, 105);
}

button[type=submit] {
    width: 100%;
    background-color: #41729F;
    color: white;
    font-size: larger;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #4e86b9;
}


@media screen and (max-width: 480px) {
    body {
        scroll-behavior: unset;
    }

    .main-content {
        margin: 0;
        height: 100%;
        width: 100%;
    }

    h1 {
        border-radius: 0;
    }

    p {
        color: rgb(236, 0, 0);
    }
    
    form {
        color: black;
    }
}